.gomoku-board {
    display: grid;
    grid-template-columns: repeat(17, 30px);
    grid-template-rows: repeat(17, 30px);
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-top: 60px;
}

.cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    /* background-color: darkgrey; */
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #e35e3d;
    position: relative;
    bottom: 800px;
}

.x-cell {
    color: #e35e3d;
    font-weight: bold;
    font-size: 25px;
    font-family: Metal Mania;
  }

  .o-cell {
    color: #e35e3d;
    font-weight: bold;
    font-size: 25px;
    font-family: Metal Mania;
  }


.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    height: 100vh;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.background-img {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* object-fit: cover; */
    /* background:linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.50)); */
    background-position: center;
}
.Gomoku-title {
    color: #ff7958;
    font-family: Metal Mania;
    top: 0;
    /* left: 665px; */
    position: absolute;
    margin-top: 10px;
}
.winner {
    color:#e35e3d;
    font-weight: bold;
    font-size: 35px;
    font-family: Metal Mania;
    position: absolute;
    margin-left: 190px;
    bottom: 50px;
    text-shadow:3px 3px rgb(138, 4, 4);
}
button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #e35e3d;
    color:black;
    box-shadow: 1px 5px 3px 1px #fa9980;
    height: 3rem;
    width: 9rem;
    border: none;
    position: absolute;
    font-family: Metal mania;
    font-weight: 600;
    font-size: x-large;
    margin-left: -75px;
    bottom: 10px;
}

span {
    /* transform: translate(-116%, -50%); */
    font-size: x-large;
    color: #e35e3d;
    font-family: Metal Mania;
    font-weight: 800;
}
.playerPointX{
  color: #e35e3d;
  font-family: Metal Mania;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  margin-left: 700px;
  bottom: 150px;

}

.playerPointO{
  color: #e35e3d;
  font-family: Metal Mania;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  margin-left: 700px;
  bottom: 200px;
}
